body {
  margin: 0;
  font-family: "FiraCode";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "FiraCode";
  src: local("FiraCode"),
  url("./fonts/FiraCode/FiraCode-Regular.ttf") format("truetype");
}

